.my_gnomes_container {

    background-color: green;
    width: 98vw;
    height: 120px;
    padding-top: 20px;
    float: left;
    overflow: scroll;
    overflow-x: hidden;
    border: solid 1px;
    margin: 0 auto;
}
.gnome_thumb {
    width: 100px;
    height: 140px;
    float: left;
}
.gnome_img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
}

.gnome_name {
    font-size: calc(5px + 1vmin);
    color: white;
    margin: 0;
    height: 2em;
}